{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated %}
<div class="new">
  <h2> Create a new note. </h2>
  <form method="post" action="/create/">
  <label for="title">Title</label> <input type="text" name="title" id="title">
  <label for="slug">Slug</label> <input type="text" name="slug" id="slug">
  <input id="create" type="submit" value="create note">
  </form>
</div>
{% endif %}

<div class="list note">
  <h2> Notes </h2>
  <ol id="notes">
    {% for object in object_list %}
    <li><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></li>
    {% endfor %}
  </ol>
</div>
{% endblock %}
