body {
	background-color: #6F8EB6;
}

header {
	background-color: #5780B6;
}

#backButton, #settingsButton {
	border: 1px solid #0A0A47;
	-webkit-border-radius: 4px;
}

#backButton {
	-webkit-border-radius: 14px 4px 4px 14px;
}

.list {
	background-color: #D6BF7A;
	border: 1px outset #654E0A;
	-webkit-box-shadow: #0A0A47 5px 5px 10px;
}
.list ol {
	text-shadow: #000000 1px 1px 10px;
}
