/*
 * http://colorschemedesigner.com/#3-61Mo8m6BRuD
 */

body {
    background-color: 7676BA;
}

header {
    background-color: 5F5FBA;
}

.backButton {
    border: 1px solid 0A0A47;
    -webkit-border-radius: 5px;
}:
