<html class="no-js" 
      manifest="{% block installpath %}/{% endblock %}native.manifest">
<!--
 Note: The web server must serve the manifest file as MIME type
 text/cache-manifest, or else Safari will ignore it.

 Add the following line to your apache conf or .htaccess file:
  AddType text/cache-manifest .manifest

 Double check that it's being served with the right MIME type.

 You can use "wget -S" to look at the server headers coming back
 with a file.
 -->
<head>
<!-- The name of the app on the home screen -->
    <title>{% block title %}Xotes{% endblock %}</title>
<!-- For all browsers -->
    <link rel="stylesheet" href="media/css/style.css">
    <link rel="stylesheet" media="print" href="media/css/print.css">
<!-- For progressively larger displays -->
    <link rel="stylesheet" media="only screen and (max-width: 320px)" href="media/css/l/style.css">
    <link rel="stylesheet" media="only screen and (min-width: 600px)" href="media/css/m/style.css">
    <link rel="stylesheet" media="only screen and (min-width: 768px)" href="media/css/h/style.css">
    <link rel="stylesheet" media="only screen and (min-width: 992px)" href="media/css/pc/style.css">
    <link rel="stylesheet" media="only screen and (min-width: 1224px)" href="media/css/720p/style.css">
    <link rel="stylesheet" media="only screen and (min-width: 1824px)" href="media/css/1080p/style.css">

<!-- For Retina displays -->
    <link rel="stylesheet" media="only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5)" href="media/css/x2/style.css">

<!-- JavaScript -->
    <script src="http://www.modernizr.com/downloads/modernizr.js"></script>
    <script>
    function trapEvent(event) {
    // Don't touch that dial...
        event.preventDefault() ;
    }
    </script>
    <script type="text/javascript" src="/media/js/notes.js"></script>
<!-- Application Metadata - for cataloging -->
    <meta name="description" content="A resolution agnostic web-based note manager.">
    <meta name="author" content="D. Rimron  - d/arran@xalior.com">
<!-- https://docs.google.com/present/view?id=dkx3qtm_22dxsrgcf4 -->
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, target-densitydpi=device-dpi, initial-scale=1.0, user-scalable=no" />
<!-- For iPhone 4 -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="media/img/h/apple-touch-icon.png">
<!-- For iPad 1-->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="media/img/m/apple-touch-icon.png">
<!-- For iPhone 3G, iPod Touch and Android -->
    <link rel="apple-touch-icon-precomposed" href="media/img/l/apple-touch-icon-precomposed.png">
<!-- For Nokia -->
    <link rel="shortcut icon" href="/media/img/l/apple-touch-icon.png">
<!-- For everything else -->
    <link rel="shortcut icon" href="/favicon.ico">
<!-- Eliminate url and button bars if added to home screen -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
<!--Microsoft. -->
<!-- http://t.co/y1jPVnT -->
    <link rel="canonical" href="/">
<!-- Theme Styles -->
    <link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light+Two|Open+Sans&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <style>
    body {
        margin: 0px ;
        padding: 0px ;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px ;
    }

    .note {
        font-family: 'Shadows Into Light Two', cursive;
        font-size: 18px ;
    }
    </style>
    <link rel="stylesheet" media="screen" href="media/css/theme/default/style.css">
</head>
<body ontouchmove="trapEvent(event);">
<header>
<div id="navbar">
  <div id="backWrapper">
    <a id="backButton" href="/">Home</a>
  </div>
  <h1>Xotes</h1>
  <div id="settingsWrapper">
    <a id="settingsButton" href="#">*</a>
    <div id="settingsPopup">
{% if user.is_authenticated %}
      <a href="/settings/">Account Settings</a>
      <hr>
      <a href="/accounts/logout/">Logout</a>
{% else %}
      <a href="/accounts/login/">Login</a>
      <hr>
      <a href="/accounts/login/">Sign-Up</a>
{% endif %}
      <hr>
      <a href="/changes">Changelog&hellip;</a>
      <a href="/about">About Xotes</a>
    </div>
  </div>
</div>
</header>

<div id="container">
{% block content %}{% endblock %}
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">
{% block tailscript %}{% endblock %}
</body>
</html>
